@use 'Mixin.scss' as Mixin;

* {
  box-sizing: border-box !important;
  margin: 0;
  font-family: lifeshop-regular-font;
}

//styles responsive
@include Mixin.breakpoint(xxl) {
  * {
    --media_width: 90% !important;
  }
  html {
    font-size: 75% !important;
  }
}
@include Mixin.breakpoint(xxx) {
  * {
    --media_width: 90% !important;
  }
  html {
    font-size: 92.75% !important;
  }
}
@include Mixin.breakpoint(lg) {
  * {
    --media_width: 100% !important;
  }
}
@include Mixin.breakpoint(md) {
  * {
    --media_width: 100% !important;
    --media_width_signin: 70%;
  }
  html {
    font-size: 56.25% !important;
  }
}
@include Mixin.breakpoint(sm) {
  * {
    --media_width: 100% !important;
    --media_width_signin: 70%;
  }
  html {
    font-size: 50% !important;
  }
}
@include Mixin.breakpoint(xs) {
  * {
    --media_width: 100% !important;
    --media_width_signin: 70%;
  }
  html {
    font-size: 50% !important;
  }
}

//font family
@font-face {
  font-family: lifeshop-regular-font;
  src: url('../Font/vietnamese-regular..woff2');
}
@font-face {
  font-family: lifeshop-font;
  src: url('../Font/latin-regular..woff2');
}

html {
  font-size: 62.5%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
a {
  text-decoration: none !important;
}
ol,
ul {
  list-style: none;
  margin-bottom: 0 !important;
  padding-left: 0 !important;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul {
  list-style: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
}
