.text_primary_active {
  color: var(--primary) !important;
}

.tabs_active {
  color: var(--primary) !important;
  font-weight: bold;
}
.hide-scrollbar {
  &::-webkit-scrollbar-thumb {
    background-color: var(--white) !important;
    &:hover {
      background-color: var(--white) !important;
    }
  }
  &::-webkit-scrollbar-track {
    background-color: var(--white) !important;
  }
}

/* component */

// #modal.close_modal-animation {
//   animation-name: closeModal;
//   animation-duration: 1s;
// }

/* componnet*/
#radio.radio_primary_active {
  div {
    &:first-child {
      background-color: var(--primary) !important;
      border-color: var(--primary) !important;
      &::before {
        background-color: var(--white) !important;
      }
    }
  }
}

/* life shop */
.sticky_header {
  position: sticky;
  z-index: 999;
  top: 0;
}

.slide_active {
  border-color: var(--default_color) !important;
  color: var(--default_color);
  position: relative;
}
.slide_active::before {
  border: 1rem solid transparent;
  border-bottom: 1rem solid #d0011b;
  bottom: -10px;
  content: '';
  position: absolute;
  right: -1.1rem;
  transform: rotate(135deg);
}
.slide_active::after {
  border-right: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
  width: 4px;
  height: 8px;
  bottom: 0.1rem;
  content: '';
  position: absolute;
  right: 0.2rem;
  transform: rotate(45deg);
}

// slide show
img.zoom_in {
  cursor: zoom-in;
}
img.zoom_out {
  cursor: zoom-out;
  border: 2px solid --default_color;
  padding: 2px;
}
.images_active {
  border: 2px solid var(--brand-primary-color, --default_color);
}
.img-hl-active {
  border: 2px solid var(--brand-primary-color, --default_color);
}

// rating
.rating_active {
  border: 1px solid var(--default_color) !important;
  color: var(--default_color) !important;
}

//pagiantion
.pagination_active {
  border-color: #16849b !important ;
  background-color: #1a9cb7 !important;
  color: var(--white) !important;
}

.account_navlink_active {
  color: var(--default_color) !important;
}

/*page account*/
// select gender
.stardust-radio_active .outer-circle_active {
  border-color: var(--default_color) !important;
}
.stardust-radio_active .outer-circle_active .inner-circle_active {
  opacity: 1 !important;
}

// add danger login and register

input.danger_validated {
  border-color: var(--danger_color_client) !important;
}
input.danger_validated:focus {
  border-color: var(--danger_color_client) !important;
}

select.danger_validated {
  border-color: var(--danger_color_client) !important;
}

select.danger_validated:focus {
  border-color: var(--danger_color_client) !important ;
}

// add active validated page account bank
input.active_validated:focus + label,
input.active_validated:required:valid + label {
  color: var(--danger_color_client) !important;
}

input.active_validated {
  border-color: var(--danger_color_client) !important;
}

// active button submit account credit
button.btn-active {
  pointer-events: auto !important;
  opacity: 1 !important;
}

#credit-card_add.show-hide,
#bank-account_add.show-hide {
  display: none !important;
}

// active search products score

button.reviews_score.score_active {
  background-color: #ebebeb !important;
}

/* admin */
.input_danger {
  border-color: var(--danger_color) !important ;
  background-color: #fff6f7 !important;
}

// navlink for sidebar
#sidebar a.active {
  background-color: #f3f0f0;
}

#sidebar a.active p,
#sidebar a.active svg {
  color: #b66dff;
}

// reset password
.reset_hidden {
  display: none;
}

/* seller */
#seller_sidebar .active {
  color: var(--primary) !important;
}

#seller_sidebar .toggle_active {
  div {
    &:last-child {
      svg {
        &:first-child {
          display: none !important;
        }
        &:last-child {
          display: block !important;
        }
      }
    }
  }
}

#seller_sidebar .toggle-item.toggle_active + nav.content-item {
  display: none !important;
}

.account_hovered {
  svg {
    display: none !important;
    &:last-child {
      display: block !important;
    }
  }
}
#seller_register_shop_main .steps_register.active {
  > div {
    &:first-child {
      background-color: var(--primary) !important;
    }
  }
}
#seller_register_shop_main .steps_register.finished {
  > div {
    &:first-child {
      background-color: var(--primary) !important;
    }
    &:last-child {
      border-color: var(--primary) !important;
    }
  }
}

#seller_register_shop_main #seller_main_content .active {
  display: block;
}

#seller_register_shop_main #seller_main_content .btn_active {
  background-color: #edf9f7;
  color: #00bfa5;
  cursor: pointer;
}
#seller_register_shop_main #seller_main_content .btn_selected {
  cursor: pointer;
}

#seller_register_shop_main #seller_main_content .btn_item_active {
  color: var(--white);
  background-color: #00bfa5;
}

#seller_register_shop_main #seller_main_content .btn_location_active {
  cursor: pointer !important;
  pointer-events: auto !important;
}

#seller_register_shop_main #seller_main_content .location_active {
  display: flex !important;
}

#seller_register_shop_main .toggle svg:last-child {
  display: none;
}
#seller_register_shop_main .toggle svg:first-child {
  display: block;
}
#seller_register_shop_main .setting_shipping_btn:has(button.toggle) + .setting_shipping_item {
  display: none !important;
}
#seller_register_shop_main #seller_main_content #setting_shipping_content .lifeshop_switch_close {
  background-color: #b7b7b7;
  &::before {
    position: absolute;
    left: 2px;
  }
}
#seller_register_shop_main #seller_main_content #setting_shipping_content .lifeshop_switch_open {
  background-color: #5c7;
  &::before {
    position: absolute;
    left: 26px;
  }
}

#seller_register_shop_main #seller_main_content #setting_shipping_content .setting-title:has(.hide-content) + div {
  display: none;
}
#seller_register_shop_main
  #seller_main_content
  #setting_shipping_content
  .setting_shipping_btn:has(.lifeshop_switch_close)
  > button {
  pointer-events: none;
  svg {
    &:first-child {
      display: block;
    }
    &:last-child {
      display: none;
    }
  }
}

#seller_register_shop_main
  #seller_main_content
  #setting_shipping_content
  .setting_shipping_btn:has(.lifeshop_switch_close)
  + .setting_shipping_item {
  display: none;
}

#add_product_edit_video #main .play_item.active {
  display: block !important;
}

#add_product_edit_video #main #play {
  &:hover {
    .pause_item.active {
      display: block !important;
    }
  }
}

// #add_product_edit_video .fragment-left {
//   left: 0;
// }

// #add_product_edit_video .fragment-right {
//   right: 0;
// }
.active_cat {
  color: var(--primary);
  font-weight: bold;
  svg {
    fill: var(--primary);
  }
}

#product_header.active {
  box-shadow: 0px 2px 3px 1px var(--box_shadow_seller);
  border-radius: 0 !important;
}

#product_footer.active {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0px 25px;
}

#seller_add_product #other_info #status .toggle {
  .status-toggle {
    display: flex !important;
    z-index: 1;
    transform: rotateX(0deg);
    opacity: 1 !important;
  }
  .status-title {
    svg {
      rotate: 180deg;
    }
  }
}

.disabled {
  cursor: not-allowed !important;
  opacity: 0.5;
  // background-color: var(--color_disabled) !important;
}

.radio-switch-close {
  &::before {
    position: absolute;
    left: 5px;
    top: 5px;
    border-radius: 50%;
    width: 25%;
    height: 80%;
    background-color: var(--white);
  }
}

.radio-switch-active {
  background-color: var(--background_radio_switch_color) !important;
  &::before {
    left: auto !important;
    right: 2px;
  }
}
.border_danger {
  border-color: var(--danger_color) !important;
}
