.wrapper {
  background-color: #eff0f5;
}
.main-content {
  overflow: hidden;
  width: var(--media_width_signin);
  .header {
    margin: 50px auto 15px;
  }
  .form-container {
    background-color: #ffffff;
    padding: 12px 140px 24px;
    margin: 24px auto;
  }
  .register {
    font-size: 1.2rem;
  }
  .login-content {
    .password label,
    .email label {
      font-size: 1.2rem;
    }
    .password input,
    .email input {
      font-size: 1.5rem;
      &:focus {
        box-shadow: none;
      }
    }
    .password input::placeholder,
    .email input::placeholder {
      font-size: 1.5rem;
      opacity: 0.8;
    }
    .password {
      position: relative;
      .show-hide-pass {
        position: absolute;
        right: 10px;
        top: 50px;
        svg {
          font-size: 1.6rem;
          color: #a4aab4;
          cursor: pointer;
        }
      }
    }
  }
  .login_account {
    font-size: 1.6rem;
  }
}
.btn_submit {
  background-color: #e66b22 !important;
  box-sizing: border-box !important;
  border: none !important;
  color: white !important;
  transition: all 300ms ease !important;
}
.btn_submit:hover {
  background-color: #d0611e !important;
}
.login_wrap {
  opacity: 0.8;
}
.login_third {
  button {
    width: 49%;
  }
}
.btn-lfc-gray {
  background-color: #ffffff !important;
  border: 0.5px solid #858b9c !important;
  color: #2e3346 !important;
  font-size: 1.6rem !important;
  :hover {
    border-color: none !important;
  }
}
.fa_google {
  color: red;
}
.fa_facebook {
  color: #1877f2;
}
