.wrapper {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background_color_shadow);
  z-index: 9999;
  .main {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .main_content {
      animation-name: showModal;
      overflow: hidden;
      background-color: transparent;
      // height: 100%;
      // transition: height 0.3s ease-in-out;
    }
  }
}
