.container {
  width: 400px;
  height: auto;
  border-radius: 5px;
  background-color: var(--white);
  padding: 15px 20px;
  gap: 10px;
  .confirm_header {
    font-size: 1.8rem;
    font-weight: bold;
    svg {
      font-size: 1.8rem;
      color: #999;
      cursor: pointer;
    }
  }
  .confirm_text {
    margin-bottom: 20px;
    &::first-letter {
      text-transform: capitalize;
    }
    p {
      font-size: 1.6rem;
    }
  }
  .confirm_footer {
    gap: 10px;
  }
}
