.container {
  width: 400px;
  height: auto;
  border-radius: 5px;
  background-color: var(--white);
  padding: 20px;
  .confirm_header {
    margin-bottom: 15px;
    font-size: 2rem;
    svg {
      color: #999;
      cursor: pointer;
    }
  }
  .confirm_text {
    margin-bottom: 20px;
    p {
      font-size: 1.6rem;
    }
  }
  .confirm_footer {
    gap: 10px;
  }
}
