@use '../../../..~/globalStyles/mixin.scss' as mixin;

//styles responsive
@include mixin.breakpoint(xxx) {
  .search-content {
    height: 80px !important;
  }
}
@include mixin.breakpoint(xxl) {
  .search-content {
    height: 55px !important;
  }
}
@include mixin.breakpoint(lg) {
  .logo-bars-content {
    width: 100% !important;
    justify-content: center;
    .header-banner {
      display: none;
    }
    .search-container {
      .search-result {
      }
    }
  }
}
@include mixin.breakpoint(md) {
  .search-content {
    // height: 35px !important;
  }
  .logo-bars-content {
    width: 100% !important;
    padding: 10px 10px 20px !important;
    .header-banner {
      display: none;
    }
  }
  .logo {
    .logo-normal {
      width: 80%;
      img {
        width: 100%;
      }
    }
  }
  .nav-cars {
    a.cart-contain {
      width: 20% !important;
    }
  }
}
@include mixin.breakpoint(sm) {
  .logo-bars-content {
    padding: 10px 10px 20px !important;
    width: 100% !important;
    .header-banner {
      display: none;
    }
  }
  .search-content {
    // height: 35px !important;
  }
  .nav-cars {
    a.cart-contain {
      width: 25% !important;
    }
  }
}
@include mixin.breakpoint(xs) {
  .logo-bars-content {
    width: 100% !important;
    padding: 10px !important;
    .header-banner {
      display: none;
    }
  }
  .logo {
    width: 20% !important;
    .logo-normal {
      display: none !important;
    }
    .logo-xs {
      display: block !important;
      width: 100% !important;
    }
  }

  .search-container {
    width: 60% !important;
    .search-content {
      height: 35px !important;
    }
    .search-input {
      width: 85% !important;
    }
    .search-button {
      width: 15% !important;
    }
  }
  .nav-cars {
    width: 20% !important;
    a.cart-contain {
      width: 25% !important;
    }
  }
}

//style  default
.logo-bars-content {
  margin: 0 auto !important;
  width: var(--media_width);
  padding: 10px 0 20px;
  .search-container {
    .search-result {
      // width: 690px;
      outline: none;
      background-color: white;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);
      .search-result-main {
        width: 100%;
        padding: 0;
        a {
          cursor: pointer;
          color: black;
          padding: 5px 15px;
          &:hover {
            color: #f57226 !important;
          }
          span {
            font-size: 1.4rem;
          }
          svg {
            color: #d3d7dd;
            font-size: 2.6rem;
            padding: 5px;
          }
        }
      }
    }
  }
  .search-content {
    height: 40px;
    input {
      height: 100%;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      width: 90%;
      background-color: #eff0f5;
      outline: none;
      border: none;
      text-indent: 15px;
      font-size: 1.4rem;
      line-height: 1;
      letter-spacing: 0.5px;
    }
    button {
      height: 100%;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      width: 35px;
      border: none;

      background-color: #f57226;
      font-size: 1.6rem;
      color: var(--white);
    }
  }
  .nav-cars {
    .cart-contain {
      // font-size: 2rem !important;
      width: 30%;
      display: inline-block;
      .cart-img {
        width: 100%;
      }
    }
  }
  > div {
    padding: 0 !important;
    flex: none !important;
    a {
      display: block;
      width: 100%;
      img {
        width: 80%;
      }
    }
    .logo-xs {
      display: none;
    }
  }
}

.header-banner {
  .container-img {
    .hdbn-img {
      width: 100% !important;
      height: 100%;
    }
  }
}
