.main-content {
  padding: 45px 35px;
  background-color: #f2edf3;
  min-height: 100vh;
  box-shadow: inset 1px 1px 3px 1px rgba($color: #dad8d8, $alpha: 0.8);
  .breadcrumb {
    margin-bottom: 15px;
    a {
      padding: 0;
      font-size: 1.8rem;
      color: black;
    }
  }
  .content {
    background-color: white;
    padding: 20px;
    min-height: 80vh;
  }
}
