.wrapper {
  background-color: #eff0f5;
}
.main-content {
  overflow: hidden;
  width: var(--media_width_signin);
  .header {
    margin: 50px auto 15px;
  }

  .login {
    font-size: 1.2rem;
  }
}
.register_content {
  margin: 24px auto;
  background-color: #ffffff;
  padding: 25px 50px 50px 25px;
  box-sizing: border-box !important;
}
.container_select_date {
  width: 100%;
}
.select_date {
  font-size: 1.4rem !important;
  box-sizing: border-box !important;
}
.gender {
  box-sizing: border-box !important;
  color: gray !important ;
  select {
    width: auto !important;
    font-size: 1.4rem !important;
  }
}
.box-sizing {
  box-sizing: border-box !important;
}
input {
  box-sizing: border-box !important;
}

.btn_submit {
  background-color: #da6520 !important;
  box-sizing: border-box !important;
  border: none !important;
  color: white;
}
.btn_submit:hover {
  background-color: #d0611e !important;
}
.register_wrap {
  opacity: 0.8;
}
.gg_background {
  background-color: #d34836 !important;
  width: 49%;
  border: none !important;
}
.fa_background {
  background-color: #3b5998 !important;
  width: 49%;
  border: none !important;
}
input::placeholder {
  font-size: 1.4rem;
  color: #a9a9a9;
}
