.sidebar {
  min-width: var(--admin_sidebar_width);
  width: var(--admin_sidebar_width);
  overflow-y: auto;
  position: fixed;
  max-height: calc(100vh - 64px);
  display: block;
  background-color: white;
  z-index: 1;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #7a7a7a;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: #f2edf3;
  }
  &_element {
    padding: 20px 40px;
    font-size: 1.6rem;
    p {
      color: #3e4b80;
    }
    svg {
      color: #beabc2;
    }
    &:hover {
      background-color: #f3f0f0;
    }
  }
}
