.add_attributes {
  min-width: 400px;
  background-color: var(--white);
  padding: 10px;
  gap: 10px;
  .header {
    padding: 0 10px 10px;
    border-bottom: 1px solid var(--border_color_admin);
    h4 {
      font-weight: bold;
      font-size: 1.8rem;
      margin-bottom: 0;
    }
    button {
      color: var(--alert_word_color);
      &:hover {
        color: var(--primary);
      }
    }
  }
  .content {
    gap: 10px;
    padding: 10px;
    > div {
      flex-basis: calc((100% - 10px) / 2);
    }
  }
  .btn_submit {
    width: 100%;
  }
}

.filter {
  gap: 10px;
  margin-bottom: 20px;
  > div {
    flex-basis: calc((100% - 10px) / 2);
  }
}

.toll-edit {
  gap: 5px;
  border-left: none;
  button,
  a {
    font-size: 1.4rem;
    padding: 5px 10px;
  }
}
