// form select
.form-select,
.form-date {
  gap: 10px;
  label {
    font-size: 1.5rem;
  }
  select {
    font-size: 1.5rem;
    border-color: var(--border_color_admin);
    &::placeholder {
      text-transform: capitalize;
    }
    &:focus {
      border-color: var(--input_focus_admin) !important;
    }
  }
}

// form date
.form-date {
  input {
    font-size: 1.5rem;
    border-color: var(--border_color_admin);
    &:focus {
      border-color: var(--input_focus_admin) !important;
    }
  }
  input[type='date'] {
    position: relative;
  }
  input[type='date']::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }
}

// form text
.form-text {
  label {
    font-size: 1.5rem;
  }
  textarea {
    font-size: 1.5rem;
    border-color: var(--border_color_admin);
    &:focus {
      border-color: var(--input_focus_admin);
      box-shadow: none;
    }
    &::placeholder {
      text-transform: capitalize;
    }
  }
}
.form_image {
  &_container {
    width: 125px;
    height: 125px;
    padding: 0;
    margin-bottom: 5px;
    img {
      width: 100%;
      height: 100%;
      border: 1px solid var(--border_color_admin);
      border-radius: 50%;
    }
  }
  input {
    display: none;
  }
  &_btn-change {
    font-size: 1.4rem;
    letter-spacing: 0.5px;
  }
}
