.wrapper {
  background-color: var(--background_color);
  padding: 20px 0 50px;
  .main {
    width: var(--media_width);
    margin: 0 auto;
    gap: 30px;
    .main-left {
      width: calc(17.5% - 30px);
    }
    .main-right {
      width: 82.5%;
    }
  }
}
