@use '../../../../globalStyles/mixin.scss' as mixin;

@include mixin.breakpoint(lg) {
}

@include mixin.breakpoint(md) {
  .header {
    margin: 25px auto 0 !important;
  }
  .rgt_content {
    margin: 12px auto !important;
    flex-direction: column;
    padding: 25px !important;
    gap: 0px !important;
    .rgt_content_left {
      width: 100% !important;
    }
    .rgt_content_right {
      width: 100% !important;
    }
  }
}
@include mixin.breakpoint(sm) {
  .header {
    margin: 20px auto 0 !important;
  }
  .rgt_content {
    margin: 12px auto !important;
    flex-direction: column;
    padding: 25px !important;
    gap: 0px !important;
    .rgt_content_left {
      width: 100% !important;
    }
    .rgt_content_right {
      width: 100% !important;
    }
  }
  .show-hide-pass {
    top: 30px !important;
  }
}
@include mixin.breakpoint(xs) {
  .header {
    margin: 20px auto 0 !important;
    flex-direction: column !important;
  }
  .rgt_content {
    margin: 12px auto !important;
    padding: 25px !important;
    flex-direction: column;
    gap: 0px !important;
    .rgt_content_left {
      width: 100% !important;
    }
    .rgt_content_right {
      width: 100% !important;
    }
  }
  .show-hide-pass {
    top: 30px !important;
  }
  .container_select_date {
    flex-direction: column !important;
    > div {
      width: 100% !important;
    }
  }
  .birthday_gender {
    flex-direction: column;
    .birthday {
      width: 100%;
    }
    .gender {
      select {
        width: 100% !important;
      }
    }
  }
  .login_third {
    flex-direction: column;
    gap: 5px;
    button {
      width: 100% !important;
    }
    .gg_background {
      margin-left: 0 !important;
    }
  }
}

.wrapper {
  background-color: #eff0f5;
}
.main-content {
  overflow: hidden;
  width: var(--media_width_signin);
  .header {
    margin: 50px auto 15px;
  }

  .login {
    font-size: 1.2rem;
  }
}
.rgt_content {
  margin: 24px auto;
  background-color: #ffffff;
  padding: 25px 50px 50px 25px;
  box-sizing: border-box !important;
  gap: 20px;
  .rgt_content_left {
    width: calc(55% - 20px);
  }
  .rgt_content_right {
    width: 45%;
  }
}
.container_select_date {
  width: 100%;
}
.select_date {
  font-size: 1.4rem !important;
  color: #999;
  option {
    color: black;
  }
  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #b7b7b7;
  }
  &::-webkit-scrollbar-button {
    display: none;
  }
}
.gender {
  color: gray !important ;
  select {
    width: auto !important;
    font-size: 1.4rem !important;
  }
}

.btn_submit {
  background-color: #da6520 !important;
  border: none !important;
  color: white;
}
.btn_submit:hover {
  background-color: #d0611e !important;
}
div label {
  font-size: 1.2rem;
}
div input {
  font-size: 1.5rem !important;
  &:focus {
    box-shadow: none !important;
    border: 1px solid #00000017 !important;
  }
}

div select {
  font-size: 1.5rem !important;
  &:focus {
    box-shadow: none !important;
    border: 1px solid #00000017 !important;
  }
}
div input::placeholder {
  font-size: 1.5rem !important;
  opacity: 0.8 !important;
}
.password {
  position: relative;
  .show-hide-pass {
    position: absolute;
    right: 10px;
    top: 35px;
    svg {
      font-size: 1.6rem;
      color: #a4aab4;
      cursor: pointer;
    }
  }
}
.register_wrap {
  opacity: 0.8;
}
.gg_background {
  background-color: #d34836 !important;
  width: 49%;
  border: none !important;
}
.fa_background {
  background-color: #3b5998 !important;
  width: 49%;
  border: none !important;
}
input::placeholder {
  font-size: 1.4rem;
  color: #a9a9a9;
}
