// page all admin
.filter-data {
  margin-bottom: 20px;
  .filter-content {
    gap: 10px;
    label {
      font-size: 1.5rem;
    }
    > div {
      &:last-child {
        gap: 20px;
      }
      &:nth-child(-n + 8) {
        flex-basis: calc((100% - 70px) / 4);
      }
    }
    .filter-element {
      > div {
        gap: 10px;
      }
    }
  }
}

.data-table {
  table {
    thead {
    }
    tbody {
      // vertical-align: middle;
      td {
        div.avatar {
          width: 50px;
          height: 50px;
          margin: auto;
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
        .toll-edit {
          gap: 5px;
          border-left: none;
          padding: 5px;
          button,
          a {
            font-size: 1.4rem;
            padding: 5px 10px;
          }
        }
      }
    }
  }
}

// page add admin
.add_admin-content {
  gap: 10px;
  .avatar {
    gap: 10px;
    input {
      display: none;
    }
    label {
      font-size: 1.5rem;
    }
    .select-avatar {
      height: 100px;
      width: 100px;
      padding: 0;
      img {
        object-fit: cover;
        border: 1px solid var(--border_color_admin);
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }
  .form-content {
    gap: 10px;
    > div {
      flex-basis: calc((100% - 10px * 2) / 3);
    }
  }
  .location {
    margin-bottom: 10px;
    gap: 20px;
    label {
      font-size: 1.5rem;
    }
    .filter-element {
      > div {
        gap: 10px;
      }
    }
  }
  .btn-submit {
    button {
      padding: 5px 20px;
    }
  }
}
