@use '../../../../globalStyles/mixin.scss' as mixin;

@include mixin.breakpoint(lg) {
  div .search-products-container {
    gap: 10px !important;
  }
  .search-products-content {
    gap: 10px !important;
  }
}
@include mixin.breakpoint(md) {
  .search-products-content {
    gap: 10px !important;
  }
}
@include mixin.breakpoint(sm) {
  .wrapper {
    padding-bottom: 20px !important;
    border-bottom: 1px solid #07060608;
    display: grid;
    gap: 10px;
    grid-template-columns: calc((100% - (10px * 2)) / 3) calc((100% - (10px * 2)) / 3) calc((100% - (10px * 2)) / 3);
  }
  .title {
    margin-bottom: 10px !important;
    grid-area: 1 / 1 / span 1 / span 3;
  }
  fieldset {
    padding: 5px;
    border-bottom: none !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    &:nth-child(2) {
      grid-area: 2 /1 / span 2 / span 1;
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      > div {
        width: calc((100% - (5px)) / 2);
      }
      > button {
        padding-left: 0 !important;
        display: flex;
        svg {
          display: none;
        }
      }
    }
    &:nth-child(3) {
      grid-area: 2 / 3 / span 1 / span 1;
    }
    &:nth-child(4) {
      legend {
        margin-bottom: 0 !important;
      }
      grid-area: 2 / 2 / span 2 / span 1;
    }
  }
  .delete-all {
    // // grid-area: /2 / span 1 / span 1;
    position: relative;
    top: 0;
    margin: auto;
    width: 50% !important;
    height: 40px;
  }
}
@include mixin.breakpoint(xs) {
  .wrapper {
    padding-bottom: 10px !important;
    border-bottom: 1px solid #07060608;
    display: grid;
    gap: 10px;
    grid-template-columns: calc((100% - (10px * 2)) / 3) calc((100% - (10px * 2)) / 3) calc((100% - (10px * 2)) / 3);
  }
  .title {
    margin-bottom: 10px !important;
    grid-area: 1 / 1 / span 1 / span 3;
  }
  fieldset {
    padding: 5px;
    border-bottom: none !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    &:nth-child(2) {
      grid-area: 2 /1 / span 2 / span 1;
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      > div {
        width: calc((100% - (5px)) / 2);
      }
      > button {
        padding-left: 0 !important;
        display: flex;
        svg {
          display: none;
        }
      }
    }
    &:nth-child(3) {
      grid-area: 2 / 3 / span 1 / span 1;
    }
    &:nth-child(4) {
      legend {
        margin-bottom: 0 !important;
      }
      grid-area: 2 / 2 / span 2 / span 1;
    }
  }

  .delete-all {
    // // grid-area: /2 / span 1 / span 1;
    margin: auto;
    width: 50% !important;
    height: 40px;
  }
}

.wrapper {
  .title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 20px;
    svg {
      padding-right: 5px;
      font-size: 1.4rem;
      color: gray;
    }
  }
  .filter-group_cat {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 25px;
    margin-bottom: 20px;
    .filter-group_header {
      margin-bottom: 10px;
      font-size: 1.4rem;
    }
    .checkbox-filter {
      .filter-checkbox {
        label {
          font-size: 1.4rem;
        }
        margin-bottom: 15px;
        font-size: 1.4rem;
      }
    }
    .show {
      border: none;
      background-color: transparent;
      font-size: 1.4rem;
      padding-left: 20px;
      svg {
        font-size: 1rem;
        color: #818181;
      }
    }
    .filter-price {
      gap: 5px;
      margin-bottom: 10px;
      input {
        width: calc((100% - (5px * 2 + 10px)) / 2);
        border: 1px solid #bdbdbd;
        height: 2.8rem;
        outline: none;
        border-radius: 2px;
        padding-left: 5px;
        font-size: 1.2rem;
      }
      /* Chrome, Safari, Edge, Opera input number none arrow */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
      /* Firefox */
      input[type='number'] {
        -moz-appearance: textfield;
      }
      .space {
        width: 10px;
        padding-top: 2px;
        color: #bdbdbd;
      }
    }
    span {
      margin-bottom: 20px;
    }
    .apply {
      background-color: #ee4d2d;
      color: white;
      width: 100%;
      &:hover {
        background-color: #ee4d2d;
        color: white;
      }
    }
    .check-star-filter {
      padding-left: 5px !important;
      background-color: transparent;
      margin: 0;
      padding: 0;
      border-radius: 20px;
      justify-content: flex-start;
      border: none;
      cursor: pointer;
      font-size: 1.3rem;
      svg {
        color: #ffba1d;
      }
    }
  }
  .delete-all {
    width: 100%;
    border: none;
    background-color: #ee4d2d !important;
    color: white;
    font-size: 1.4rem;
    padding: 10px 0;
    &:hover {
      background-color: #d1391b !important;
    }
  }
}

.icon-check {
  &::after {
    left: 3px !important;
    width: 5px !important;
    height: 9px !important;
    top: 0px !important;
  }
}
