@use '../../../assets/Styles/Mixin.scss' as Mixin;

@include Mixin.breakpoint(lg) {
  .channels {
    padding: 0px 10px;
  }
}

@include Mixin.breakpoint(md) {
  .channels {
    padding: 0px 10px;
  }
}
@include Mixin.breakpoint(sm) {
  .channels {
    padding: 0px 10px;
  }
}
@include Mixin.breakpoint(xs) {
  .channels {
    padding: 0px 10px;
  }
}

.wrapper {
  background-color: var(--background_home_grey);
  padding-bottom: 40px;
}
