* {
  box-sizing: border-box !important;
}
p {
  margin-bottom: 0 !important;
}
.wrapper {
  background-color: #eff0f5;
}
.main-content {
  width: var(--media_width);
  margin: 0 auto;
}
.breadcum {
  ul {
    li {
      a {
        color: #7a9cbb;
      }
    }
  }
}
.product-briefing {
  background-color: white;
  border-radius: 2px;
}
.images-products,
.products-content-main {
  padding: 15px;
}

.reviews_headers {
  margin-top: 10px;
}
.reviews,
.total-reviews {
  font-size: 1.3rem;
  border-right: 1px solid rgba(0, 0, 0, 0.14);
}
.reviews {
  padding-right: 20px;
  span {
    color: black;
  }
}
.core {
  &:hover {
    text-decoration: underline !important;
  }
}
.stars {
  color: #ffd500;
}

.total-reviews {
  padding: 0 20px;
  a {
    &:hover {
      text-decoration: underline !important;
    }
  }
}
.selled {
  font-size: 1.3rem;
  padding-left: 20px;
  span {
    color: #767676;
  }
}

.show-denounce {
  position: fixed;
  inset: 0px;
  z-index: 9999;
  display: none;
  background-color: #0000001d;
}
div.show {
  display: block;
  background-color: #0000008d;
  transition: background-color 4s;
}
div.show {
  .show-denounce-content {
    width: 400px;
    height: 250px;
    transition: width 3s, height 3s;
  }
}
.show-denounce-content {
  position: fixed;
  width: 250px;
  height: 200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: white;
  div {
    font-size: 1.6rem;
    padding: 16px 24px;
  }
}
.scroll-denounce {
  height: 180px;
  overflow-y: scroll;
  list-style: none;
}

.flash-sale {
  margin-top: 10px;
  border: 1px solid #c39a7f;
  border-radius: 20px;
  padding: 0 15px;
}
.flash-sale-left {
  font-weight: bolder;
  font-size: 20px;
  background-image: linear-gradient(to right, #f92578, #ff6f4d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
}
.fl-timer {
  color: #ff5531;
  div {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.discount_Price {
  text-decoration: none !important;
  color: #f57224 !important;
}
.voucher-discount {
  background-image: linear-gradient(to right, #f92578, #ff6f4d);
  padding: 1px 5px;
  font-size: 1.2rem;
  color: white;
}
.discount,
.discount_Price {
  text-decoration: line-through;
  position: relative;
  font-size: 1.8rem;
  color: #9ea3bd;
  &::before {
    content: 'đ';
    text-decoration: underline;
    font-size: 1.4rem;
    vertical-align: top;
  }
}
.price {
  margin-top: 5px;
  padding: 15px 20px;
  background-color: #fafafa;
}

.shipping {
  padding: 15px 20px;
  h3 {
    width: 110px;
    text-transform: capitalize;
    font-size: 1.4rem;
  }
}

.shipping-content {
  .icon {
    font-size: 1.4rem;
    color: #7a9cbb;
  }
}
.shipping-to {
  margin-bottom: 10px;
}
.shipping-to,
.shipping-fee {
  font-size: 1.4rem;
  text-transform: capitalize;
  span:last-child {
    cursor: pointer;
  }
}
.shipping-show-wrapper {
  position: fixed;
  inset: 0px;
  z-index: 9999;
  background-color: #0000001d;
  .shipping-show {
    position: fixed;
    width: 500px;
    height: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: white;
    .shipping-title-container {
      padding: 16px 24px;
      align-items: center;
      font-size: 1.6rem;
      text-transform: capitalize;
      border: 1px solid #f3f3f3;
      .close {
        font-size: 2rem;
        color: #868686;
      }
    }
    .shipping-scroll {
      overflow-y: scroll;
      height: 100%;
      list-style: none;
      padding: 16px 24px;
      .search-location {
        input {
          padding: 10px 0px 10px 7px;
          width: 84%;
          border: 1px solid #dbdbdb;
          border-radius: 1px;
          &:focus {
            outline: none;
          }
        }
        button {
          padding: 10px 0;
          border: none;
          width: 14%;
          color: white;
          background-color: #ee4d2d !important;
          cursor: no-drop;
          opacity: 0.8;
        }
      }
      .address-old {
        color: #0000008a;
        .border {
          border-bottom: 1px solid #dbdbdb;
        }
        div {
          > span {
            .fa-circle-dot {
              color: #ee4d2d;
            }
          }
          button {
            color: #ee4d2d;
            border: 1px solid #ee4d2d;
          }
          .color-name {
            color: black;
            font-size: 1.6rem;
            p {
              padding-left: 3px;
              font-size: 1.4rem;
              color: #0000008a;
            }
          }
        }
      }
      .add-address {
        button {
          border: 1px solid #dbdbdb;
          background-color: white;
          padding: 5px 10px;
          text-transform: capitalize;
          &:hover {
            opacity: 0.8;
          }
          svg {
            color: #dbdbdb;
            font-size: 1.6rem;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
.classify {
  padding: 15px 20px;
  .classify-title {
    width: 110px;
    text-transform: capitalize;
    font-size: 1.4rem;
  }
  .classify-content {
    .classify-content-element {
      margin-right: 15px;
      border: 1px solid #dbdbdb;
      background-color: transparent;
      padding: 5px;
      font-size: 1.4rem;
      img {
        margin-right: 5px;
        height: 3.2rem;
        width: 3.2rem;
      }
      &:hover {
        border-color: #ee4d2d;
        color: #ee4d2d;
      }
    }
  }
}
