/*Home page Admin*/
#main {
  padding-top: 70px;
  min-height: calc(100vh - 70px);
}
#sidebar {
  width: 260px;
  min-height: calc(100vh - 70px);
}
#main-content {
  background-color: #f2edf3;
  min-height: calc(100vh - 70px);
  width: calc(100% - 260px);
}
/*users*/
.avatar_users {
  width: 100px;
  height: 100px;
}
.pagination {
  display: flex;
  justify-content: flex-end;
}
.pagination nav div:first-child {
  display: none;
}
.pagination nav .hidden span {
  display: flex;
}
.pagination nav .hidden span a {
  font-size: 1.4rem;
  color: black;
  border: none !important;
  text-decoration: none;
  font-weight: bold;
}
.pagination nav .hidden span span span {
  font-size: 1.4rem;
  border: none !important;
  font-weight: 300;
  color: rgb(54, 53, 53);
}
.pagination nav .hidden a:first-child,
.pagination nav .hidden a:last-child {
  width: 30px;
  display: block;
}

.pagination nav .hidden a:first-child svg,
.pagination nav .hidden a:last-child svg {
  width: 100%;
  font-size: 1.4rem;
}
