/*Login*/
.lz-body-login {
  padding: 0 !important;
}
.lz-body-login .content-wrapper {
  height: 100vh;
}
.lz-login-username,
.lz-login-password {
  text-indent: 10px;
  border: 1px solid #ebedf2 !important;
  font-size: 1.4rem;
}
.lz-login-username:focus,
.lz-login-password:focus {
  border-color: #80bdff !important;
  box-shadow: none !important;
}
.lz-login-username::placeholder,
.lz-login-password::placeholder {
  color: #d9ccc8;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.lz-login-submit {
  border: 0 !important;
}
.lz-login-submit:hover {
  opacity: 0.9;
}
.lz-checkbox-login {
  position: relative;
}
.lz-checkbox-login input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.lz-checkbox-login input:checked ~ .input-helper {
  background-image: linear-gradient(to right, #da8cff, #9a55ff);
}
.lz-checkbox-login input:checked ~ .input-helper:after {
  display: block;
}
.input-helper {
  cursor: pointer;
  position: absolute;
  left: -22px;
  top: 4px;
  height: 15px;
  width: 15px;
  border: 1px solid #b66dff !important;
  background-color: transparent;
}
.input-helper::after {
  position: absolute;
  display: none;
  content: '';
  border: solid white;
  border-width: 0px 2px 2px 0px;
  width: 6px;
  height: 10px;
  -webkit-transform: rotate(45deg);
  left: 4px;
  top: 1px;
}

.lz-forgot-pass:hover {
  color: black;
  text-decoration: underline !important;
}
.max-width-300 {
  max-width: 30rem;
}
/* .text-eclipses {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
} */
/*End Login*/
/*404 page*/
.lz-body-404 {
  width: 100%;
  height: 100vh;
  background-color: #b66dff;
}
.lz-error {
  width: 100%;
}
/*end 404 page*/
/*Home page Admin*/
#main {
  padding-top: 70px;
  min-height: calc(100vh - 70px);
}
#sidebar {
  width: 260px;
  min-height: calc(100vh - 70px);
}
#main-content {
  background-color: #f0f0f1;
  min-height: calc(100vh - 70px);
  width: calc(100% - 260px);
  margin: 0 !important;
  padding: 0 !important;
}

.content-wrapper {
  padding: 44px 36px;
  width: 100%;
  height: 100%;
}
.page-header {
  margin-bottom: 25px;
}
.page-header .page-title {
  display: inline-flex;
  align-items: center;
}
.page-header .page-title .page-title-icon {
  text-align: center;
  display: block;
  margin-right: 10px;
  width: 35px;
  height: 35px;
  line-height: 30px;
  border-radius: 4px;
  background-image: linear-gradient(to right, #d98bff, #9c57ff);
  box-shadow: 0px 3px 8.3px 0.7px rgba(163, 93, 255, 0.35);
}
.page-header .page-title .page-title-icon i {
  font-size: 1rem;
  color: white;
}
.breadcrumb .breadcrumb-item i {
  color: #c69cfd;
}
.chart-table {
  margin: 0 -20px 20px;
}
/*users*/
.avatar_users {
  width: 100px;
  height: 100px;
}
.pagination {
  display: flex;
  justify-content: flex-end;
}
.pagination nav div:first-child {
  display: none;
}
.pagination nav .hidden span {
  display: flex;
}
.pagination nav .hidden span a {
  font-size: 1.4rem;
  color: black;
  border: none !important;
  text-decoration: none;
  font-weight: bold;
}
.pagination nav .hidden span {
  box-shadow: none !important;
}
.pagination nav .hidden span span,
.pagination nav .hidden span a {
  background-color: transparent !important;
}
.pagination nav .hidden span span span {
  font-size: 1.4rem;
  border: none !important;
  font-weight: 300;
  color: rgb(54, 53, 53);
}
.pagination nav .hidden a:first-child,
.pagination nav .hidden a:last-child {
  width: 30px;
  display: block;
}

.pagination nav .hidden a:first-child svg,
.pagination nav .hidden a:last-child svg {
  width: 100%;
  font-size: 1.4rem;
}
.search-users:focus {
  outline: 1px solid #9a55ff !important;
}
