.add-container {
  min-width: 300px;
  max-width: 600px;
  min-height: 250px;
  padding: 10px;
  background-color: white;
  > form {
    height: 100%;
    > div {
      gap: 10px;
    }
    button {
      margin-top: 10px;
    }
    .form_header {
      padding-bottom: 10px;
      border-bottom: 1px solid var(--border_color_admin);
      margin-bottom: 10px;
      h4 {
        margin-bottom: 0;
      }
      button {
        margin-top: 0;
      }
    }
    .form_content {
      gap: 10px;
      > div {
        flex-basis: calc((100% - 10px) / 2);
      }
    }
  }
}
.message {
  font-size: 1.6rem;
}
.filter-data {
  h4 {
    font-size: 1.7rem;
    text-transform: capitalize;
  }

  form {
    > div {
      gap: 10px;
    }
  }
  .filter-form {
    margin-bottom: 20px;
    &_submit {
      padding: 0px;
      height: 35px;
    }
  }
}
.toll-edit {
  gap: 5px;
  border-left: none;
  button {
    font-size: 1.4rem;
    padding: 5px 10px;
  }
}
.toggle-edit {
  background-color: white !important;
  box-shadow: 0px 0px 3px 1px var(--box_shadow_admin) !important;
  padding: 10px 20px !important;
  h5 {
    font-size: 1.8rem;
  }
  .edit-content {
    gap: 10px;
    > div {
      label {
        font-size: 1.5rem;
      }
      input {
        &:focus {
          border-color: var(--input_focus_admin) !important;
        }
      }
    }
  }
}
