* {
  --minheightquantities: 40px;
}
p {
  margin-bottom: 0 !important;
}
.wrapper {
  min-height: 100vh;
  background-color: #eff0f5;
}
.main-content {
  width: var(--media_width);
  margin: 0 auto;
}
.product-briefing {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 1px 1px 0 #0000000d;
}
.images-products,
.products-content-main {
  padding: 15px;
}
.reviews,
.total-reviews {
  font-size: 1.3rem;
  border-right: 1px solid rgba(0, 0, 0, 0.14);
}
.reviews {
  padding-right: 20px;
  span {
    color: black;
  }
}
.core {
  &:hover {
    text-decoration: underline !important;
  }
}
.stars {
  color: #ffd500;
}
.reviews_headers {
  .reviews {
  }
}

.total-reviews {
  padding: 0 20px;
  a {
    &:hover {
      text-decoration: underline !important;
    }
  }
}
.selled {
  font-size: 1.3rem;
  padding-left: 20px;
  span {
    color: #767676;
  }
}

.show-denounce {
  position: fixed;
  inset: 0px;
  z-index: 9999;
  display: none;
  background-color: #0000001d;
}
div.show {
  display: block;
  background-color: #0000008d;
  transition: background-color 4s;
}
.show-denounce-content,
.send-reason {
  position: fixed;
  width: 400px;
  height: 250px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  transition: all 1s ease;
  background-color: white;
}
.show-denounce-content,
.send-reason {
  .show-denounce-title {
    font-size: 1.8rem;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.09);
  }
  div {
    font-size: 1.6rem;
    padding: 10px 20px 5px;
  }
  .scroll-denounce {
    overflow-y: scroll;
    list-style: none;
    &::-webkit-scrollbar {
      width: 8px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: #b7b7b7;
    }
    /* Handle on hover */
    // &::-webkit-scrollbar-thumb:hover {
    //   background: #555;
    // }
    &::-webkit-scrollbar-button {
      display: none;
    }
    li {
      padding: 7px 0px;
      font-size: 1.4rem;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      white-space: nowrap;
      cursor: pointer;
      &:hover {
        color: var(--default_color);
      }
    }
  }
}
.send-reason {
  .seand-reason-header {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.09);
    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 95%;
    }
    button {
      padding: 0;
      &:focus {
        border: none;
      }
      svg {
        font-size: 2rem;
        color: #595959;
        &:first-child {
          margin-right: 5px;
        }
      }
    }
  }
  form {
    padding: 20px;
    gap: 10px;
    textarea {
      height: 130px;
      padding: 12px;
      outline: unset;
      border: 1px solid rgba(0, 0, 0, 0.09);
      line-height: 20px;
      border-radius: 2px;
      width: 100%;
      font-size: 1.4rem;
      &:focus {
        border-color: #0000008a;
      }
    }
    button {
      background: #ee4d2d;
      color: #fff;
      outline: 0;
      overflow: visible;
      font-size: 1.4rem;
      width: 30%;
    }
  }
}

.flash-sale {
  margin-top: 10px;
  border: 1px solid #c39a7f;
  border-radius: 20px;
  padding: 0 15px;
}
.flash-sale-left {
  font-weight: bolder;
  font-size: 20px;
  background-image: linear-gradient(to right, #f92578, #ff6f4d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
}
.fl-timer {
  color: #ff5531;
  div {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.discount_Price {
  text-decoration: none !important;
  color: #f57224 !important;
}
.voucher-discount {
  background-image: linear-gradient(to right, #f92578, #ff6f4d);
  padding: 1px 5px;
  font-size: 1.2rem;
  color: white;
}
.discount,
.discount_Price {
  text-decoration: line-through;
  position: relative;
  font-size: 1.8rem;
  color: #9ea3bd;
  &::before {
    content: 'đ';
    text-decoration: underline;
    font-size: 1.4rem;
    vertical-align: top;
  }
}
.price {
  margin-top: 5px;
  padding: 15px 20px;
  background-color: #fafafa;
}

.shipping {
  padding: 15px 20px;
  h3 {
    width: 110px;
    text-transform: capitalize;
    font-size: 1.4rem;
  }
}

.shipping-content {
  .icon {
    font-size: 1.4rem;
    color: #7a9cbb;
  }
}
.shipping-to {
  margin-bottom: 10px;
}
.shipping-to,
.shipping-fee {
  font-size: 1.4rem;
  text-transform: capitalize;
  span:last-child {
    cursor: pointer;
  }
}

.classify {
  padding: 15px 20px;
  .classify-title {
    width: 110px;
    text-transform: capitalize;
    font-size: 1.4rem;
  }
  .classify-content {
    gap: 10px;
    .classify-content-element {
      border: 1px solid #dbdbdb;
      background-color: transparent;
      margin-left: 0;
      padding: 5px;
      font-size: 1.4rem;
      img {
        margin-right: 5px;
        height: 3.2rem;
        width: 3.2rem;
      }
      &:hover {
        border-color: #ee4d2d;
        color: #ee4d2d;
      }
    }
  }
}
// .size {
//   padding: 15px 20px;
//   h3 {
//     width: 110px;
//     text-transform: capitalize;
//     font-size: 1.4rem;
//   }
//   .size-content {
//     button {
//       border: 1px solid #dbdbdb;
//       background-color: transparent;
//       padding: 10px 30px;
//       font-size: 1.4rem;
//     }
//   }
// }
.quantity {
  padding: 15px 20px;
  h3 {
    width: 110px;
    text-transform: capitalize;
    font-size: 1.4rem;
  }
  .quantity-content {
    .quantity-order {
      button {
        border: 1px solid #dbdbdb;
        background-color: transparent;
        padding: 5px 10px;
        min-height: var(--minheightquantities);
        border-radius: 0;
      }
      input {
        border-top: 1px solid #dbdbdb;
        border-bottom: 1px solid #dbdbdb;
        border-left: none;
        border-right: none;
        background-color: transparent;
        padding: 5px 0px;
        text-align: center;
        width: 40px;
        min-height: var(--minheightquantities);
        &:focus {
          outline: none;
        }
      }
      /* Chrome, Safari, Edge, Opera input number none arrow */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
      /* Firefox */
      input[type='number'] {
        -moz-appearance: textfield;
      }
    }
    .quantity-avail {
      font-size: 1.4rem;
      color: #757575;
    }
  }
}
.btn-select {
  padding: 15px 20px;
  padding-bottom: 45px !important;
  border-bottom: 1px solid #dbdbdb;
  button {
    min-width: 180px !important;
    max-width: 250px;
    font-size: 1.4rem;
  }
  .add-to-cart {
    border: 1px solid #d41830;
    background-color: #fbebed;
    color: #d41830;
    padding: 0 20px;
    height: 48px;
  }
  .buy-now {
    border: none;
    background-color: #d41830;
    color: white;
    padding: 0 20px;
    height: 48px;
  }
}
.policy-buy-products {
  padding: 15px 20px;
  div {
    font-size: 1.4rem;
    color: #4a4a4a;
    svg {
      color: #d41830;
    }
  }
}
.shop-products {
  box-shadow: 0 1px 1px 0 #0000000d;
  margin: 15px 0px;
  .shop-products-content {
    width: var(--media_width);
    background-color: white;
    padding: 25px;
    border-radius: 0.2rem;
    .shop-products-content-left {
      padding-right: 2.5rem;
      max-width: 45.6rem;
      border-right: 1px solid #00000017;
      a {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 2rem;
        div.shop-logo {
          height: 9rem;
          width: 9rem;
          img {
            width: 100%;
            display: block;
            border-radius: 50%;
            height: 100%;
            border: 1px solid #dbdbdb;
          }
        }
        div.shopmall {
          position: absolute;
          bottom: 0;
          img {
            width: 6.4rem;
            height: 1.6rem;
          }
        }
      }
      .shop-name {
        h4 {
          color: #000000de;
          font-size: 1.6rem;
          font-weight: 400;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .status-active {
          font-size: 1.4rem;
          color: #757575;
        }
        .btn-contact-shop {
          button {
            border: 1px solid #d41830;
            background-color: #fbebed;
            color: #d41830;
            padding: 0 15px;
            min-width: 60px;
            max-width: 190px;
            height: 34px;
            font-size: 1.4rem;

            svg {
              margin-right: 5px;
            }
          }
          a {
            font-size: 1.4rem;
            color: #555;
            flex-direction: row;
            text-transform: capitalize;
            border: 1px solid #00000017;
            box-shadow: 0 1px 1px 0 #00000008;
            padding: 0 15px;
            min-width: 60px;
            max-width: 190px;
            height: 34px;
            svg {
              margin-right: 5px;
            }
          }
        }
      }
    }
    .shop-products-content-right {
      display: grid;
      grid-template-columns: repeat(3, auto);
      flex-grow: 1;
      grid-gap: 2rem 5rem;
      color: #00000066;
      gap: 2rem 5rem;
      padding-left: 2.5rem;
      div {
        label {
          font-size: 1.4rem;
        }
        span {
          color: #d41830;
          font-size: 1.4rem;
          font-weight: 500;
        }
      }
      a {
        label {
          font-size: 1.4rem;
        }
        color: #00000066;
        margin: 0;
        span {
          color: #d41830;
          font-size: 1.4rem;
          font-weight: 500;
        }
      }
    }
  }
}

.products-details {
  margin-bottom: 15px;
  gap: 15px;
  .products-details-content {
    width: 80%;

    .product-descriptions {
      box-shadow: 0 1px 1px 0 #0000000d;
      padding: 25px;
      margin-bottom: 20px;
      background-color: white;
      h2 {
        padding: 15px 0 15px 15px;
        background-color: #fafafa;
        font-size: 2rem;
      }
      .product-descriptions-content {
        padding-left: 15px;
        div {
          p {
            font-size: 1.3rem;
          }
        }
      }
    }
    .products-rating {
      padding: 25px;
      background-color: white;
      box-shadow: 0 1px 1px 0 #0000000d;
      margin-bottom: 45px;
      h3 {
        font-size: 2rem;
        margin-bottom: 20px;
      }
      .products-rate-content {
        .products-rate-header {
          border: 1px solid #f9ede5;
          background-color: #fffbf8;
          margin-bottom: 20px;
          padding: 35px 30px;
          .avg-star {
            margin-right: 40px;
            .products-rate-overview {
              color: #ee4d2d;
              .rating-score {
                font-size: 2.4rem;
                margin-right: 5px;
              }
              .rating-score-out-of {
                font-size: 1.8rem;
              }
            }
            .rating-star {
              color: #ee4d2d;
              font-size: 2rem;
            }
          }
          .products-rate-tabs {
            gap: 10px;
            flex-wrap: wrap;
            button {
              min-width: 100px;
              max-height: 30px;
              border-radius: 2px;
              border: 1px solid #eaeae9;
              background-color: white;
              color: black;
              font-size: 1.4rem;
            }
          }
        }
        .products-rate-list {
          .products-comment-list {
            .product-rating {
              padding: 15px 0 20px;
              border-bottom: 1px solid #eaeae9;
              &:last-child {
                margin-bottom: 20px;
              }
              .user-review-avatar {
                width: 40px;
                height: 40px;
                margin-right: 10px;
                img {
                  width: 100%;
                  height: 100%;
                  border-radius: 50%;
                }
              }
              .user-review-content {
                .author-name {
                  font-size: 1.2rem;
                  margin-bottom: 5px;
                }
                .user-review-star {
                  color: #ee4d2d;
                  margin-bottom: 5px;
                  font-size: 1.1rem;
                }
                .user-review-time {
                  font-size: 1.2rem;
                  color: #0000008a;
                  margin-bottom: 10px;
                }
                .reviews-content-main {
                  div {
                    color: #0000008a;
                    font-size: 1.4rem;
                    div {
                      text-transform: capitalize;
                    }
                    span {
                      color: black;
                    }
                  }
                  div.reviews-content {
                    text-transform: none;
                    color: black;
                    margin: 10px 0;
                  }
                }
                .value-zoom-in {
                  margin-bottom: 10px;
                  div {
                    img {
                      width: 100px;
                    }
                  }
                }

                .like-reviews {
                  svg {
                    color: #cccccc;
                    font-size: 1.4rem;
                  }
                }
              }
            }
          }
          .products-ratings-page-controller {
            button {
              height: 40px;
              width: 30px;
              background-color: #eff0f5;
              color: #a1878c;
              border: 1px solid #dadada;
              &:hover {
                color: #757575;
                background-color: #dadada;
                border-color: transparent;
              }
            }
          }
        }
      }
    }
    .products-suggest {
      .from-store {
        margin-bottom: 25px;
        h4 {
          font-size: 1.6rem;
          color: #707070;
          text-transform: uppercase;
          margin-bottom: 20px;
        }
        .from-store-content {
          gap: 15px;
          .from-store-product {
            width: calc((100% - (4 * 15px)) / 5);
            border-radius: 3px;
            &:hover {
              box-shadow: 0 1px 2px 0 #00000040;
            }
            .img {
              img {
                width: 100%;
              }
            }
            .from-store-product-content {
              background-color: white;
              padding: 10px 5px;
              border: 1px solid #00000017;

              h5 {
                color: black;
                font-size: 1.2rem;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                margin-bottom: 0;
              }
              span {
                font-size: 1.8rem;
                color: #f67224;
                &::before {
                  content: 'đ';
                  margin-right: 1px;
                  text-decoration: underline;
                }
              }
              div {
                color: yellow;
              }
            }
          }
        }
      }
      .from-other-store {
        margin-bottom: 45px;
        h4 {
          font-size: 1.6rem;
          color: #707070;
          text-transform: uppercase;
          margin-bottom: 20px;
        }
        .from-other-store-content {
          gap: 15px;
          .from-other-store-product {
            width: calc((100% - (4 * 15px)) / 5);
            border-radius: 3px;
            &:hover {
              box-shadow: 0 1px 2px 0 #00000040;
            }
            .img {
              img {
                width: 100%;
              }
            }
            .from-other-store-product-content {
              background-color: white;
              padding: 10px 5px;
              border: 1px solid #00000017;
              h5 {
                color: black;
                font-size: 1.2rem;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                margin-bottom: 0;
              }
              span {
                font-size: 1.8rem;
                color: #f67224;
                &::before {
                  content: 'đ';
                  margin-right: 1px;
                  text-decoration: underline;
                }
              }
              div {
                color: yellow;
              }
            }
          }
        }
      }
    }
  }

  .top-pick-from-shop {
    box-shadow: 0 1px 1px 0 #0000000d;
    width: calc(100% - (80% + 15px));
    height: 100%;
    background-color: white;
    padding-top: 10px;
    h2 {
      margin-top: 10px;
      font-size: 1.4rem;
      font-weight: 400;
      padding: 0 1.8rem;
      color: #00000066;
      margin-bottom: 0;
    }
    a {
      display: block;
      padding: 20px;
      border-bottom: 2px solid #eff0f5;
      &:last-child {
        border-bottom: none;
      }
    }
    .img {
      margin-bottom: 10px;
      img {
        width: 100%;
      }
    }

    .shop-suggest-products-name {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      color: black;
      font-size: 1.4rem;
    }
    .shop-suggest-products-price {
      color: #f2742d;
      font-size: 1.6rem;
      &::before {
        content: 'đ';
        text-decoration: underline;
      }
    }
  }
}

/*handle reviews start*/
.stars,
.from-store-product-star,
.from-other-store-product-star {
  --star-size: 2rem;
  --star-background: #fc0;
  --star-color: #d3cccc;
  color: #faca51;
  font-size: 1rem;
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  line-height: 1;
  &::before {
    content: '★★★★★';
    letter-spacing: 1px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.from-store-product-star,
.from-other-store-product-star {
  --star-size: 1.6rem;
  &::before {
    letter-spacing: 0.5px !important;
  }
}
