.add_attr_details {
  min-width: 400px;
  min-height: 300px;
  background-color: var(--white);
  padding: 10px;
  gap: 10px;
  .header {
    padding: 0px 10px 10px;
    border-bottom: 1px solid var(--border_color_admin);
    h4 {
      margin-bottom: 0;
      font-size: 1.6rem;
      font-weight: bold;
    }
    button {
      color: var(--alert_word_color);
      &:hover {
        color: var(--primary);
      }
    }
  }
  .content {
    gap: 10px;
    padding: 10px;
    > div {
      flex-basis: calc((100% - 10px) / 2);
    }
  }
  .btn_submit {
    padding: 10px 10px 0px;
  }
}

.edit_attr_details {
  width: 45vw;
  height: 100vh;
  background-color: var(--white);
  padding: 15px;
  margin-right: 15px;
  gap: 10px;
  .header {
    padding: 0px 10px 10px;
    border-bottom: 1px solid var(--border_color_admin);
    h4 {
      margin-bottom: 0;
      font-size: 1.6rem;
      font-weight: bold;
    }
    button {
      color: var(--alert_word_color);
      &:hover {
        color: var(--primary);
      }
    }
  }
  .content {
    gap: 10px;
    padding: 10px;
    > div {
      flex-basis: calc((100% - 10px) / 2);
    }
  }
  .btn_submit {
    padding: 10px 10px 0px;
  }
}

.filter_data {
  gap: 10px;
  margin-bottom: 20px;
  h4 {
    font-size: 1.6rem;
    font-weight: bold;
  }
  .filter_content {
    gap: 10px;
    > div {
      flex-basis: calc((100% - 10px) / 2);
    }
  }
}

.toll-edit {
  gap: 5px;
  border-left: none;
  button,
  a {
    font-size: 1.4rem;
    padding: 5px 10px;
  }
}

.pagiantion {
  height: 60px;
}
