.add_blog {
  gap: 20px;
  &_right {
    gap: 10px;
    flex-grow: 1;
    .img {
      button {
        width: 100%;
        img {
          border-radius: 0;
          object-fit: fill;
        }
      }
    }
  }

  .add_blog-btn {
    button {
      padding: 5px 20px;
    }
  }
  .message {
    font-size: 1.4rem;
  }
}
.btn_add_blogs {
  padding: 5px 20px;
}
.filter_data {
  margin-bottom: 20px;
  .filter_content {
    gap: 10px;
    > div {
      &:nth-child(1) {
        flex-basis: 85%;
      }
      &:nth-child(2) {
        flex-basis: calc(100% - 85% - 10px);
      }
    }
  }
}
.data_table {
  div.avatar {
    max-width: 100px;
    max-height: 100px;
    margin: auto;
    img {
      width: 100%;
      height: 100%;
      // border-radius: 50%;
    }
  }
  .toll-edit {
    gap: 5px;
    border-left: none;
    button {
      font-size: 1.4rem;
      padding: 5px 10px;
    }
  }
}
