.container {
  gap: 5px;
}
.checkbox_container {
  position: relative;
  height: 15px;
  width: 15px;
}
.container input {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.container input:checked ~ .input-helper {
  background-image: #da6520;
}
input:checked ~ .input-helper:after {
  display: block !important;
}
.input-helper {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-radius: 1px;
  background-color: transparent;
  pointer-events: none;
}
.input-helper::after {
  position: absolute;
  display: none;
  content: '';
  border: solid #da6520;
  border-width: 0px 2px 2px 0px;
  width: 6px;
  height: 10px;
  -webkit-transform: rotate(45deg);
  left: 4px;
  top: 1px;
}
