.add_role {
  width: 25vw;
  background-color: white;
  box-shadow: 0 0 3px 1px var(--box_shadow_admin);
  padding: 10px 20px;
  form {
    gap: 10px;
    .add_role_content {
      gap: 10px;
    }
    .btn-add {
      button {
        margin-top: 10px;
      }
    }
  }
  h4 {
    font-size: 1.6rem;
  }
  .message {
    font-size: 1.4rem;
  }
  .btn-add {
    button {
      padding: 5px 20px;
    }
  }
}
.btn_add_role {
  padding: 5px 20px;
}
.filter_data {
  margin-bottom: 20px;
  .filter_content {
    gap: 10px;
  }
}
.list_role {
  .wrapper_Edit_role {
    padding: 20px;
    gap: 10px;
    box-shadow: 0px 0px 3px 1px var(--box_shadow_admin);
    background-color: white;
    h5 {
      font-size: 1.6rem;
    }
    form {
      gap: 10px;
      .message {
        font-size: 1.4rem;
      }
      button {
        margin-top: 10px;
        padding: 5px 20px;
      }
    }
  }
  .toll-edit {
    gap: 5px;
    border-left: none;
    button {
      font-size: 1.4rem;
      padding: 5px 10px;
    }
  }
}
