.wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  > div {
    select {
      padding: 5px 5px;
      border: 1px solid #00000017;
      width: 100%;
      outline: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
  }
  .day {
    width: 30%;
  }
  .month {
    width: 30%;
  }
  .year {
    width: calc((100% - 30% * 2) - 20px);
  }
}
